@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height : 100%; 
  position: static;
}

.light-mode{
  --text-color : #000; 
  --primary-color : #fff; 
  --secondary-color : #000; 
  --accent-color : #7E60D0;
}

.dark-mode{
  --text-color : #fff; 
  --primary-color : #171717; 
  --secondary-color : #fff;
  --accent-color : #7E60D0
}

*{
  margin : 0; 
  padding : 0; 
  box-sizing : border-box; 
  color: var(--text-color);
}

body{
  background-color: var(--primary-color);
  height: 100%;
}

.brand{
  color: var(--accent-color);
}

.highlight{
  color: var(--accent-color);
}

.hero-image{
  margin-top : -20px; 
  overflow: hidden;
}

/* register form */

.register-card{
  background-color: var(--primary-color);
}

.register input{
  border : 1px solid var(--secondary-color); 
  background: var(--primary-color);
  color : var(--text-color)
}

.input-border{
  border : 1px solid var(--secondary-color); 
  background: var(--primary-color);
  color : var(--text-color)
}
.myclass{
  min-height:550px;
}

/* footer */


/* utils */
.btn{
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.btn-bordered{
  border: 2px solid var(--accent-color);
  color : var(--secondary-color); 
}

.no-border{
  border: none !important;
}