@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode{
  --primary-color : #fff; 
  --secondary-color : #000; 
  --accent-color : #7E60D0;
}


*{
  margin : 0; 
  padding : 0; 
  box-sizing : border-box; 
}


.brand{
  color: var(--accent-color);
}

.highlight{
  color: var(--accent-color);
}

.hero-image{
  margin-top : -20px; 
  overflow: hidden;
}


/* utils */
.btn{
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.btn-bordered{
  border: 2px solid var(--accent-color);
  color : var(--secondary-color); 
}